.main{
	color: black;
}
.conteudog {
	position:relative;
	left: 0px;
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
.video1 {
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 100px;
	margin-left: 15px;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.77);
}
.foto-autor {
	float: right;
	margin-right: 50px;
    height: 500px;
    width: 200px;
    margin-top: 40px;
}

.conteudo-pag3 {
	position:relative;
	left: 0px;
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
.titulo-persongens-pag3 {
	width: auto;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-top: auto;
	font: bold;
	font-size: 25px;
	padding: 15px;
	font-style:italic;
	color: #000;
	display: block;
}
.box1-pag3 {
	width: auto;
	height: 320px;
	background:none;
	border:solid 1px;
	border-radius: 20px;
	margin: 15px;
	margin-top:45px;
	font: bold;
	font-size: 16px;
	font-style:oblique;
	padding:25px;
	color: #000;
	font-weight: 100;
	
	
}
.box2-pag3 {
	width: 360px;
	height: auto;
	background:#CCC;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.99);
	border:solid 1px;
	border-radius: 15px;
	border-color:#000000;
	font: bold;
	font-size: 16px;
	font-style:bold;
	padding:5px;
	float:left;	
}

.box1-2-pag3{/*alinhando a form de inserir nome*/
	width: 260px;
	height: auto;
	font: bold;
	font-size: 16px;
	font-style:bold;
	margin-bottom:20px;
	margin-top:20px;
	margin-left:5px;
	
}
.texto-pag1-box1 {
	width: 300px;
	height: auto;
	background: #CCC;
	border-style: double;
	float: right;
	margin-right: 40px;
	margin-top: 100px;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.99);
	color: #000;
	font-weight: 100;
	display: block;
}
.box3-pag3 {
	width: 220px;
	height: auto;
	background:#CCC;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.99);
	border:solid 1px;
	border-radius: 15px;
	border-color:#000000;
	font: bold;
	font-size: 16px;
	font-style:bold;
	padding:5px;
	float:right;
	margin-top:-60px;
}
.texto-pag4-box1 {
	width: 850px;
	height: auto;
	background: #CCC;
	border-style: double;
	float: inline-start;
	margin-left:100px;
	margin-top: 100px;
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style:oblique;
	padding: 5px;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.99);
	color: #000;
	font-weight: 100;
	display: block;
}
.titulo-paragrafo-pag4 {
	width: auto;
	height: auto;
	float: inline-end;
	margin-left: 25px;
	margin-top: 50px;
	font: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 10px;
	color: #000;
	display: block;
	border:solid 1px #000000;
	border-radius:5px;
	-webkit-box-shadow: 5px 7px 5px rgba(50, 50, 50, 0.99);
}